# broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# dirs
cache/
coverage/
node_modules/
out/

# files
.env
bun.lock
package-lock.json
pnpm-lock.yaml
lcov.info

# logs
*.log

.DS_Store

Prover.toml
raw_inputs.json
# ignore target dir contents but keep generated .sol verifiers (e.g. HonkVerifier.sol)
**/target/*
!**/target/*.sol